section.footer(style="background-image: url(img/content/foot-bg.jpg)") 
		.container
			.footer-description
				form(action="")
					.inline-layout
						.subscribe
							a(href="#")
								img(src="img/icons/e-mail-envelope.svg", alt="")
							p
								|Подпишитесь на нашу рассылку новостей чтобы быть вкурсе новых предложений
						.send
							input(type="text", placeholder="Ваше имя")
							input(type="text", placeholder="Ваша почта")
							button.button Подписаться
		.rights-line
			.container
				a.rights(href="#") © OM Architecture 2017 
				ul.socials-holder
					li
						a(href="#")
							i.fa.fa-instagram
					li
						a(href="#")
							i.fa.fa-facebook
					li
						a(href="#")
							i.fa.fa-pinterest-p

					