script(src='external/jquery-2.2.4/dist/jquery.min.js')
script(src='external/jquery.browser/dist/jquery.browser.min.js')
script(src='external/bxslider-4/dist/jquery.bxslider.min.js')
script(src='external/fullpage.js/dist/jquery.fullpage.min.js')
script(src='js/main.js')
script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBbiWDuTu93dbTnJpUDshix6zDZpMYVglc&callback=initMap', async, defer)
