section.header
	.top-line
		.line-wrap
			.brand-holder
				a(href="#")
					.image-holder
						img(src="img/icons/domdom_logo_draft4.svg", alt="")
			//- a(href="#").mobile-nav-btn#mobile-nav-btn
				span
				span
				span
			.inline-layout
				.nav-holder
					nav.nav#menu
						ul#main-nav
							//- li(data-menuanchor="main")
							//- 	a(href="#main") Главная
							li(data-menuanchor="portfolio")
								a(href="#portfolio") Портфолио
							li(data-menuanchor="footer")
								a(href="#footer") Контакты
							
					//- nav.nav.mobile#nav
					//- 	ul
					//- 		li
					//- 			a(href="#") Главная
					//- 		li
					//- 			a(href="#") Портфолио
					//- 		li
					//- 			a(href="#") Контакты
					//- 		li
					//- 			ul.socials-holder
					//- 				li
					//- 					a(href="#")
					//- 						i.fa.fa-instagram
					//- 				li
					//- 					a(href="#")
					//- 						i.fa.fa-facebook
					//- 				li
					//- 					a(href="#")
					//- 						i.fa.fa-pinterest-p
				ul.socials-holder
					li
						a(href="#")
							i.fa.fa-instagram
					li
						a(href="#")
							i.fa.fa-facebook
					li
						a(href="#")
							i.fa.fa-pinterest-p
				ul.lang.inline-layout
					li
						a(href="#") en
					li
						a(href="#") ru
					li
						a(href="#") ua

									
						


