section.header
	.top-line
		.container
			.line-wrap
				.brand-holder
					a(href="#")
						.image-holder
							img(src="img/icons/domdom_logo_draft4.svg", alt="")
					ul.lang.inline-layout
						li
							a(href="#") en
						li
							a(href="#") ru
						li
							a(href="#") ua
				//- a(href="#").mobile-nav-btn#mobile-nav-btn
					span
					span
					span
				.inline-layout
					.nav-holder
						nav.nav
							ul#main-nav
								li
									a(href="#main") Главная
								li
									a(href="#portfolio") Портфолио
								li
									a(href="#contacts") Контакты
								
						//- nav.nav.mobile#nav
						//- 	ul
						//- 		li
						//- 			a(href="#") Главная
						//- 		li
						//- 			a(href="#") Портфолио
						//- 		li
						//- 			a(href="#") Контакты
						//- 		li
						//- 			ul.socials-holder
						//- 				li
						//- 					a(href="#")
						//- 						i.fa.fa-instagram
						//- 				li
						//- 					a(href="#")
						//- 						i.fa.fa-facebook
						//- 				li
						//- 					a(href="#")
						//- 						i.fa.fa-pinterest-p
					ul.socials-holder
						li
							a(href="#")
								i.fa.fa-instagram
						li
							a(href="#")
								i.fa.fa-facebook
						li
							a(href="#")
								i.fa.fa-pinterest-p

									
						


