doctype html
html(lang='ru')
	head
		title main

		include ./partials/head.jade

	body
		include ./partials/noscript.jade


		.black-plate

		section#main.main.full-h(style="background-image: url(img/content/main-bg.jpg)")
			include ./partials/top-line.jade
			.container
				.main-content
					h2 Creative interior design
					h3  Мы создадим дом вашей мечты за 3-4 месяца

		section.main-nav
			.content-nav
				ul.inline-layout.col-4
					li
						a(href="#", data-tab="0")
							.image-holder
								img(src="img/icons/blueprint.svg", alt="")
								img.hover(src="img/icons/blueprint-hover.svg", alt="")
							span Авторский проект

					li
						a(href="#", data-tab="1") 
							.image-holder
								img(src="img/icons/brickwall.svg", alt="")
								img.hover(src="img/icons/brickwall-hover.svg", alt="")
							span Безопасные материалы
					li
						a(href="#", data-tab="2") 
							.image-holder
								img(src="img/icons/placeholder.svg", alt="")
								img.hover(src="img/icons/placeholder-hover.svg", alt="")
							span Место расположения
					li
						a(href="#", data-tab="3") 
							.image-holder
								img(src="img/icons/house.svg", alt="")
								img.hover(src="img/icons/house-hover.svg", alt="")
							span Природа рядом
			.container
				ul#main-tabs.tabs
					li
						a(href="#").tab-close
						.text-container
							h3 Авторский проект
							p
								| Никаких по счастливой, потому разъясню, бы перед представление перед, немалое отвергает говорил страдания: возлюбил — никаких только то только приносило по. Этот чтобы то возникает перед избегает бы зодчим — несло если а заниматься раз наслаждений умеет с именно пользы. Стремящегося, возжаждал отвергает приносило возникают разъясню умеет этот простейшим не как только презирает — несло действительно воспользоваться восхваляющих из было мог человек было. Именно такие с именно предаваться избегает несло наслаждений отвергает упражнениями из-за великие мог, возникают — возжаждал — возникает то приносило, по — которого по за. Страдания только наслаждений предпочел раскрою вы никаких некое назвал, ни избегает кто само — презирает которое говорил наслаждений немалое: великие это приносят. Откуда, великие приносят наслаждение когда физическими именно, человек порицающих этот потому немалое представление, поняли разъясню этот страдания или такого истину.
							p
								|Представление которого такого наслаждений если за, представление зодчим избегал приносят когда предпочел умеет некоей говорил человек. Несло стал какими воспользоваться откуда возникает если иной за было которого презирает и такого если стремящегося а равно боль обстоятельства представление человек превратное боль. То нас кто зодчим неприятностей раз некоей страдание, действительно которого это — не того.
							p
								|Что постигают зодчим само, стал превратное тягостными человек когда страдания приносят за отвергает по возникают обстоятельства приносят предаваться именно постигают наслаждение только, чтобы приносят. Немалое такого постигают несло я собой счастливой стремящегося никакого за когда. Наслаждений перед которого кто это представление некое лишь людей картину то, само страдания восхваляющих предаваться это я. Того, никаких не немалое нас предаваться раз, которое несло действительно с справедливости отвергает тех.
							p
								|Представление которого такого наслаждений если за, представление зодчим избегал приносят когда предпочел умеет некоей говорил человек. Несло стал какими воспользоваться откуда возникает если иной за было которого презирает и такого если стремящегося а равно боль обстоятельства представление человек превратное боль. То нас кто зодчим неприятностей раз некоей страдание, действительно которого это — не того.
					li
						a(href="#").tab-close
						.text-container
							h3 Безопасные материалы
							p
								| Никаких по счастливой, потому разъясню, бы перед представление перед, немалое отвергает говорил страдания: возлюбил — никаких только то только приносило по. Этот чтобы то возникает перед избегает бы зодчим — несло если а заниматься раз наслаждений умеет с именно пользы. Стремящегося, возжаждал отвергает приносило возникают разъясню умеет этот простейшим не как только презирает — несло действительно воспользоваться восхваляющих из было мог человек было. Именно такие с именно предаваться избегает несло наслаждений отвергает упражнениями из-за великие мог, возникают — возжаждал — возникает то приносило, по — которого по за. Страдания только наслаждений предпочел раскрою вы никаких некое назвал, ни избегает кто само — презирает которое говорил наслаждений немалое: великие это приносят. Откуда, великие приносят наслаждение когда физическими именно, человек порицающих этот потому немалое представление, поняли разъясню этот страдания или такого истину.
							p
								|Представление которого такого наслаждений если за, представление зодчим избегал приносят когда предпочел умеет некоей говорил человек. Несло стал какими воспользоваться откуда возникает если иной за было которого презирает и такого если стремящегося а равно боль обстоятельства представление человек превратное боль. То нас кто зодчим неприятностей раз некоей страдание, действительно которого это — не того.
							p
								|Что постигают зодчим само, стал превратное тягостными человек когда страдания приносят за отвергает по возникают обстоятельства приносят предаваться именно постигают наслаждение только, чтобы приносят. Немалое такого постигают несло я собой счастливой стремящегося никакого за когда. Наслаждений перед которого кто это представление некое лишь людей картину то, само страдания восхваляющих предаваться это я. Того, никаких не немалое нас предаваться раз, которое несло действительно с справедливости отвергает тех.
							p
								|Представление которого такого наслаждений если за, представление зодчим избегал приносят когда предпочел умеет некоей говорил человек. Несло стал какими воспользоваться откуда возникает если иной за было которого презирает и такого если стремящегося а равно боль обстоятельства представление человек превратное боль. То нас кто зодчим неприятностей раз некоей страдание, действительно которого это — не того.
					li
						a(href="#").tab-close 
						.text-container
							h3 Место расположения
							p
								| Никаких по счастливой, потому разъясню, бы перед представление перед, немалое отвергает говорил страдания: возлюбил — никаких только то только приносило по. Этот чтобы то возникает перед избегает бы зодчим — несло если а заниматься раз наслаждений умеет с именно пользы. Стремящегося, возжаждал отвергает приносило возникают разъясню умеет этот простейшим не как только презирает — несло действительно воспользоваться восхваляющих из было мог человек было. Именно такие с именно предаваться избегает несло наслаждений отвергает упражнениями из-за великие мог, возникают — возжаждал — возникает то приносило, по — которого по за. Страдания только наслаждений предпочел раскрою вы никаких некое назвал, ни избегает кто само — презирает которое говорил наслаждений немалое: великие это приносят. Откуда, великие приносят наслаждение когда физическими именно, человек порицающих этот потому немалое представление, поняли разъясню этот страдания или такого истину.
							p
								|Представление которого такого наслаждений если за, представление зодчим избегал приносят когда предпочел умеет некоей говорил человек. Несло стал какими воспользоваться откуда возникает если иной за было которого презирает и такого если стремящегося а равно боль обстоятельства представление человек превратное боль. То нас кто зодчим неприятностей раз некоей страдание, действительно которого это — не того.
							p
								|Что постигают зодчим само, стал превратное тягостными человек когда страдания приносят за отвергает по возникают обстоятельства приносят предаваться именно постигают наслаждение только, чтобы приносят. Немалое такого постигают несло я собой счастливой стремящегося никакого за когда. Наслаждений перед которого кто это представление некое лишь людей картину то, само страдания восхваляющих предаваться это я. Того, никаких не немалое нас предаваться раз, которое несло действительно с справедливости отвергает тех.
							p
								|Представление которого такого наслаждений если за, представление зодчим избегал приносят когда предпочел умеет некоей говорил человек. Несло стал какими воспользоваться откуда возникает если иной за было которого презирает и такого если стремящегося а равно боль обстоятельства представление человек превратное боль. То нас кто зодчим неприятностей раз некоей страдание, действительно которого это — не того.
					li
						a(href="#").tab-close
						.text-container
							h3 Природа рядом
							p
								| Никаких по счастливой, потому разъясню, бы перед представление перед, немалое отвергает говорил страдания: возлюбил — никаких только то только приносило по. Этот чтобы то возникает перед избегает бы зодчим — несло если а заниматься раз наслаждений умеет с именно пользы. Стремящегося, возжаждал отвергает приносило возникают разъясню умеет этот простейшим не как только презирает — несло действительно воспользоваться восхваляющих из было мог человек было. Именно такие с именно предаваться избегает несло наслаждений отвергает упражнениями из-за великие мог, возникают — возжаждал — возникает то приносило, по — которого по за. Страдания только наслаждений предпочел раскрою вы никаких некое назвал, ни избегает кто само — презирает которое говорил наслаждений немалое: великие это приносят. Откуда, великие приносят наслаждение когда физическими именно, человек порицающих этот потому немалое представление, поняли разъясню этот страдания или такого истину.
							p
								|Представление которого такого наслаждений если за, представление зодчим избегал приносят когда предпочел умеет некоей говорил человек. Несло стал какими воспользоваться откуда возникает если иной за было которого презирает и такого если стремящегося а равно боль обстоятельства представление человек превратное боль. То нас кто зодчим неприятностей раз некоей страдание, действительно которого это — не того.
							p
								|Что постигают зодчим само, стал превратное тягостными человек когда страдания приносят за отвергает по возникают обстоятельства приносят предаваться именно постигают наслаждение только, чтобы приносят. Немалое такого постигают несло я собой счастливой стремящегося никакого за когда. Наслаждений перед которого кто это представление некое лишь людей картину то, само страдания восхваляющих предаваться это я. Того, никаких не немалое нас предаваться раз, которое несло действительно с справедливости отвергает тех.
							p
								|Представление которого такого наслаждений если за, представление зодчим избегал приносят когда предпочел умеет некоей говорил человек. Несло стал какими воспользоваться откуда возникает если иной за было которого презирает и такого если стремящегося а равно боль обстоятельства представление человек превратное боль. То нас кто зодчим неприятностей раз некоей страдание, действительно которого это — не того.
		section.main-nav#portfolio
			.slider-holder
				ul#bxslider
					li
						.image-holder
							img.fake-img(src='img/content/slide-2.jpg', alt='img/content/slide-1.jpg')
							.img(style='background-image: url( "img/content/slide-1.jpg")')
					li
						.image-holder
							img.fake-img(src='img/content/slide-2.jpg', alt='img/content/slide-2.jpg')
							.img(style='background-image: url( "img/content/slide-2.jpg")')
					li
						.image-holder
							img.fake-img(src='img/content/slide-2.jpg', alt='img/content/slide-3.jpg')
							.img(style='background-image: url( "img/content/slide-3.jpg")')
					li
						.image-holder
							img.fake-img(src='img/content/slide-2.jpg', alt='img/content/slide-4.jpg')
							.img(style='background-image: url( "img/content/slide-4.jpg")')


		
		section.progress
			.container
				h3 - Ход строительства
				#slider-indicator.slider-indicator.indicator-50
					.year
						.left 2017
						.right 2017
					ul.inline-layout.col-4
						li
							span.first 0%
							span 25%
							span.top 0.2
							span.top.first 0.3
						li
							span 50%
							span.top 0.4
						li
							span 75%
							span.top 0.5
						li
							span 100%
							span.top 0.6
			.slider-holder.clear
				ul#bxslider2
					li
						.inline-layout.col-3
							div.slide
								.image-holder
									img.fake-img(src='img/content/f66.jpg', alt='img/content/f66.jpg')
									.img(style='background-image: url( "img/content/f66.jpg")')
							div.slide
								.image-holder.border
									img.fake-img(src='img/content/f66.jpg', alt='img/content/f66.jpg')
									.img(style='background-image: url( "img/content/f66.jpg")')
							div.slide
								.image-holder
									img.fake-img(src='img/content/f66.jpg', alt='img/content/f66.jpg')
									.img(style='background-image: url( "img/content/f66.jpg")')
								
					li
						.inline-layout.col-3
							div.slide
								.image-holder
									img.fake-img(src='img/content/f67.jpg', alt='img/content/f67.jpg')
									.img(style='background-image: url( "img/content/f67.jpg")')
							div.slide
								.image-holder.border
									img.fake-img(src='img/content/f67.jpg', alt='img/content/f67.jpg')
									.img(style='background-image: url( "img/content/f67.jpg")')
							div.slide
								.image-holder
									img.fake-img(src='img/content/f67.jpg', alt='img/content/f67.jpg')
									.img(style='background-image: url( "img/content/f67.jpg")')
					li
						.inline-layout.col-3
							div.slide
								.image-holder
									img.fake-img(src='img/content/f68.jpg', alt='img/content/f68.jpg')
									.img(style='background-image: url( "img/content/f68.jpg")')
							div.slide
								.image-holder.border
									img.fake-img(src='img/content/f68.jpg', alt='img/content/f68.jpg')
									.img(style='background-image: url( "img/content/f68.jpg")')
							div.slide
								.image-holder
									img.fake-img(src='img/content/f68.jpg', alt='img/content/f68.jpg')
									.img(style='background-image: url( "img/content/f68.jpg")')
					li
						.inline-layout.col-3
							div.slide
								.image-holder
									img.fake-img(src='img/content/f69.jpg', alt='img/content/f69.jpg')
									.img(style='background-image: url( "img/content/f69.jpg")')
							div.slide
								.image-holder.border
									img.fake-img(src='img/content/f69.jpg', alt='img/content/f69.jpg')
									.img(style='background-image: url( "img/content/f69.jpg")')
							div.slide
								.image-holder
									img.fake-img(src='img/content/f69.jpg', alt='img/content/f69.jpg')
									.img(style='background-image: url( "img/content/f69.jpg")')




		section.maps.full-h
			.container
				.maps-header
					h3 - Расположение участка
					a(href="#").down-btn Скачать карту проезда
			.map-holder
				#map



		section.contacts#contacts
			.container
				h3 Контакты
				ul.inline-layout.col-4
					li
						.image-holder
							img(src="img/icons/at.svg", alt="")
						p Адрес:
						span г.Киев, ул.Кожемяцкая 12 ж
					li
						.image-holder
							img(src="img/icons/location.svg", alt="")
						p Почта:
						span om.architecture.com@gmail.com
					li
						.image-holder
							img(src="img/icons/smartphone.svg", alt="")
						p Телефон:
						span +38 068 129 27 97
						span +38 068 129 27 97
					//- li
					//- 	.image-holder
					//- 		img(src="img/icons/international.svg", alt="")
					//- 	p Социальные сети:
					//- 	ul.inline-layout.soc
					//- 		li
					//- 			a(href="#") Facebook
					//- 		li
					//- 			a(href="#") Instagram
					//- 		li
					//- 			a(href="#") Pinterest
			
								
									
						
							


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
